<h1 mat-dialog-title>
  Select Media Type
</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around">
    <mat-form-field>  
      <mat-select placeholder="Media Type" [formControl]="form.controls['type']">
        <mat-option *ngFor="let mediaType of mediaTypes" [value]="mediaType">{{mediaType}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-around">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Go to Create</button>
  </div>
</form>