<div fxLayout="row wrap">
  <mat-card *ngFor="let m of media" class="poi-card">
    <mat-card-header (click)="openMediaDetails(m)">
      <mat-card-title>{{m.title}}</mat-card-title>
      <mat-card-subtitle>{{m.mediaType}}</mat-card-subtitle>
    </mat-card-header>
    <div mat-card-image [style.background-image]="'url(' + m.coverImage + ')'"></div>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip>{{m.genre.name}}</mat-chip>
      </mat-chip-list>
      <p>
        <span *ngIf="m.synopsis.length > 200; else fullSynopsis"> {{m.synopsis.substring(0, 200)}}...</span>
        <ng-template #fullSynopsis>{{m.synopsis}}</ng-template>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openEditMedia(m)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-button (click)="openDialogDeleteMedia(m)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-card-actions>
  </mat-card>

  <button mat-fab id="addFloatingButton" (click)="openNewMedia()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<script>
  $(window).scroll(function () {
    $(".mat-card-image").css("background-position","50% " + ($(this).scrollTop() / 2) + "px");
});
</script>