<div id="container" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="5%" *ngIf="media">
  <mat-card fxLayout.gt-md="row" fxLayout="column" fxFlex="100">
    <div fxFlex.gt-md="50" fxFlex="100" fxLayout="column" fxLayoutGap="5%">
      <div fxLayout="row" fxLayoutGap="5px">
        <div fxFlex="100">
          <div #myCoverImage id="coverImage" [style.background-image]="'url(' + coverImage + ')'"> </div>
        </div>
      </div>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
      <h1>{{ media.title }}</h1>
      <hr>
      <mat-chip-list>
        <mat-chip>{{ media.mediaType }}</mat-chip>
        <mat-chip>{{ media.genre.name }}</mat-chip>
      </mat-chip-list>
      <div>{{ media.synopsis }}</div>
    </div>
  </mat-card>
  <div fxLayout="column" *ngIf="media.mediaType.toLowerCase() == 'series'" fxLayoutGap="5%" fxFlex.gt-sm="20" fxFlex="100">
    <mat-card>
      <p>Broadcaster: {{media.broadcaster}}</p>
      <p>Airs on {{airsDayOfWeek()}}</p>
    </mat-card>
    <mat-card>
      <h3>Cast</h3>
      <button mat-button (click)="openAddCast()">
        <mat-icon>Add</mat-icon>
      </button>
      <img src="https://via.placeholder.com/150" alt="">
    </mat-card>
  </div>
</div>
<div *ngIf="media.mediaType.toLowerCase() == 'series'" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="5%">
  <mat-card *ngFor="let s of media.seasons" class="poi-card">
    <mat-card-header (click)="openSeasonDetails(s)">
      <mat-card-title>Season {{s.number}}</mat-card-title>
      <mat-card-subtitle>{{s.episodes.length}} episodes</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content></mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openEditSeason(s)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-button (click)="openDialogDeleteSeason(s)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<a mat-fab id="addFloatingButton" [matMenuTriggerFor]="menu">
  <mat-icon>more_horiz</mat-icon>
</a>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openEditMedia()">
    <mat-icon>edit</mat-icon>
    <span>Edit Media</span>
  </button>
  <button mat-menu-item (click)="openDialogDeleteMedia()">
    <mat-icon>delete</mat-icon>
    <span>Delete Media</span>
  </button>
  <button mat-menu-item (click)="openDialogCreateSeason()">
    <mat-icon>add</mat-icon>
    <span>Add Season</span>
  </button>
</mat-menu>