@import "../../../colors.scss";

#addFloatingButton {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 9999999;
    background-color: var(--color-primary-dark);

    .mat-icon {
        color: white;
    }
}

#container {
    margin-bottom: 2em;
}

.mat-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 1rem;
    left: auto;
    position: fixed;
}

.mat-card.settings-panel {
    position: fixed;
    bottom: 6px;
    right: 6px;
    width: 250px;
    z-index: 9;
  }

#EditFloatingButton {
    position: fixed;
    right: 10%;
    bottom: 5%;
    z-index: 9999999;
    background-color: var(--color-primary-dark);

    .mat-icon {
        color: white;
    }
}

  #coverImage {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

mat-card-header {
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    opacity: 0.8;
    
    &:hover {
        opacity: 1;
    }
}

li {
    list-style: none;
}