<form [formGroup]="form" [formGroup]="coordinatesForm" [formGroup]="audioguidesForm" [formGroup]="descriptionForm" (ngSubmit)="onSubmit()" *ngIf="isCreate;else edit">
  <div id="container" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="5%">
    <mat-card fxLayout.gt-md="row" fxLayout="column" fxFlex.gt-sm="80" fxFlex="100" fxLayoutGap="2%">
      <div fxFlex.gt-md="50" fxFlex="100" fxLayout="column" fxLayoutGap="5%">
        <!-- <div>
          <div id="uploadContent" class="w-100">
            <input type="file" name="photo" (change)="ImgUpload($event)" accept="image/*" />
            <p>Drag your images here or click in this area.</p>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2px" style="margin-top: 10px">
            <div *ngFor="let i of urlImage">
              <input type="radio" class="radio-item" [value]="i" name="item" id="radio{{urlImage.indexOf(i)}}"
                [formControl]="form.controls['coverImage']">
              <label class="label_item" for="radio{{urlImage.indexOf(i)}}" [style.background-image]="'url(' + i + ')'">
                <a mat-icon-button class="imgButtonDelete" (click)="removeImage(i)">
                  <mat-icon>cancel</mat-icon>
                </a>
              </label>
            </div>
          </div>
        </div> -->
      </div>
      <div fxFlex.gt-md="50" fxFlex="100">
        <mat-form-field class="w-100">
          <input matInput placeholder="Name" type="text" [formControl]="form.controls['name']" required>
        </mat-form-field>
        <hr>
        <mat-form-field class="w-100">
          <mat-select placeholder="Categories" [formControl]="form.controls['genres']">
            <mat-option *ngFor="let g of allGenres" [value]="g.id">{{g.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-50">
          <input matInput placeholder="Autor" type="text" [formControl]="form.controls['creator']">
        </mat-form-field>
        <mat-form-field class="w-50">
          <input matInput placeholder="Year" type="number" [formControl]="form.controls['year']" required>
        </mat-form-field>
      </div>
    </mat-card>
  </div>
  <button mat-fab id="addFloatingButton" type="submit" [disabled]="!form.valid ||!coordinatesForm.valid || !audioguidesForm.valid">
    <mat-icon>send</mat-icon>
  </button>
</form>
<ng-template #edit>
  <ng-container *ngIf="isEdit;else detail">
      <form [formGroup]="form" [formGroup]="coordinatesForm" [formGroup]="audioguidesForm" [formGroup]="descriptionForm" (ngSubmit)="onSubmit()" *ngIf="isCreate;else edit">
          <div id="container" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="5%">
            <mat-card fxLayout.gt-md="row" fxLayout="column" fxFlex.gt-sm="80" fxFlex="100" fxLayoutGap="2%">
              <div fxFlex.gt-md="50" fxFlex="100" fxLayout="column" fxLayoutGap="5%">
                <!-- <div>
                  <div id="uploadContent" class="w-100">
                    <input type="file" name="photo" (change)="ImgUpload($event)" multiple accept="image/*" />
                    <p>Drag your images here or click in this area.</p>
                  </div>
                  <div fxLayout="row wrap" fxLayoutGap="2px" style="margin-top: 10px">
                    <div *ngFor="let i of urlImage">
                      <input type="radio" class="radio-item" [value]="i" name="item" id="radio{{urlImage.indexOf(i)}}"
                        [formControl]="form.controls['coverImage']">
                      <label class="label_item" for="radio{{urlImage.indexOf(i)}}" [style.background-image]="'url(' + i + ')'">
                        <a mat-icon-button class="imgButtonDelete" (click)="removeImage(i)">
                          <mat-icon>cancel</mat-icon>
                        </a>
                      </label>
                    </div>
                  </div>
                </div> -->
              </div>
              <div fxFlex.gt-md="50" fxFlex="100">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Name" type="text" [formControl]="form.controls['name']" required>
                </mat-form-field>
                <hr>
                <!-- Categorías -->
                <mat-form-field class="w-100">
                  <mat-select placeholder="Categories" [formControl]="form.controls['categories']">
                    <mat-option *ngFor="let c of allGenres" [value]="c.id">{{c.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="Autor" type="text" [formControl]="form.controls['creator']">
                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput placeholder="Year" type="number" [formControl]="form.controls['year']" required>
                </mat-form-field>
              </div>
            </mat-card>
          </div>
          <button mat-fab id="addFloatingButton" type="submit" [disabled]="!form.valid ||!coordinatesForm.valid || !audioguidesForm.valid">
            <mat-icon>send</mat-icon>
          </button>
      </form>
  </ng-container>
</ng-template>
<ng-template #detail>
    <div id="container" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="5%" *ngIf="media">
        <mat-card fxLayout.gt-md="row" fxLayout="column" fxFlex.gt-sm="80" fxFlex="100" fxLayoutGap="2%">
          <div fxFlex.gt-md="50" fxFlex="100" fxLayout="column" fxLayoutGap="5%">
            <div fxLayout="row" fxLayoutGap="5px">
              <div fxFlex="80">
                <div #myCoverImage id="coverImage" [style.background-image]="'url(' + coverImage + ')'"> </div>
              </div>
            </div>
          </div>
          <div fxFlex.gt-md="50" fxFlex="100">
            <h1>{{ media.title }}</h1>
            <hr>
            <mat-chip>{{media.genre.name}}</mat-chip>
            <div [innerHtml]="media.synopsis"></div>
          </div>
      
        </mat-card>
      </div>
      
      <a mat-fab id="addFloatingButton" [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openEditMedia()">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="openDialogDeleteMedia()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
  </ng-template>