<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="isCreate;else edit">
  <div id="container" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="5%">
    <mat-card fxLayout.gt-md="row" fxLayout="column" fxFlex="100" fxLayoutGap="2%">
      <div fxFlex.gt-md="50" fxFlex="100">
        <mat-form-field class="w-100">
          <input matInput placeholder="Title" type="text" [formControl]="form.controls['title']" required>
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-select placeholder="Genres" [formControl]="form.controls['genre']">
            <mat-option *ngFor="let g of allGenres" [value]="g.id">{{g.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-100">
          <textarea matInput placeholder="Synopsis" type="text" [formControl]="form.controls['synopsis']" required></textarea>
        </mat-form-field>
        <mat-form-field class="w-100" *ngIf="this.mediaType.toLowerCase() === 'series'; else trailer">
          <input matInput placeholder="Broadcaster" type="text" [formControl]="form.controls['broadcaster']">
        </mat-form-field>
        <mat-form-field class="w-100" *ngIf="this.mediaType.toLowerCase() === 'series'">
          <input matInput placeholder="Airs Day of Week (1 = Monday, 7 = Sunday)" type="number" min="1" [formControl]="form.controls['airsDayOfWeek']">
        </mat-form-field>
        <ng-template #trailer>
          <mat-form-field class="w-100">
            <input matInput placeholder="Trailer" type="text" [formControl]="form.controls['trailer']">
          </mat-form-field>
        </ng-template>
      </div>
    </mat-card>
  </div>
  <button mat-fab id="addFloatingButton" type="submit" [disabled]="!form.valid">
    <mat-icon>send</mat-icon>
  </button>
</form>
<ng-template #edit>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div id="container" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="5%">
      <mat-card fxLayout.gt-md="row" fxLayout="column" fxFlex.gt-sm="80" fxFlex="100" fxLayoutGap="2%">
        <div fxFlex.gt-md="50" fxFlex="100">
          <mat-form-field class="w-100">
            <input matInput placeholder="Title" type="text" [formControl]="form.controls['title']" required>
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-select placeholder="Genres" [formControl]="form.controls['genre']">
              <mat-option *ngFor="let g of allGenres" [value]="g.id">{{g.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-100">
            <textarea matInput placeholder="Synopsis" type="text" [formControl]="form.controls['synopsis']" required></textarea>
          </mat-form-field>
          <mat-form-field class="w-100" *ngIf="this.mediaType.toLowerCase() === 'series'; else trailer">
            <input matInput placeholder="Broadcaster" type="text" [formControl]="form.controls['broadcaster']">
          </mat-form-field>
          <mat-form-field class="w-100" *ngIf="this.mediaType.toLowerCase() === 'series'">
            <input matInput placeholder="Airs Day of Week (1 = Monday, 7 = Sunday)" type="number" min="1" [formControl]="form.controls['airsDayOfWeek']">
          </mat-form-field>
          <ng-template #trailer>
            <mat-form-field class="w-100">
              <input matInput placeholder="Trailer" type="text" [formControl]="form.controls['trailer']">
            </mat-form-field>
          </ng-template>
        </div>
      </mat-card>
    </div>
    <button mat-fab id="addFloatingButton" type="submit" [disabled]="!form.valid">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</ng-template>