<h1 mat-dialog-title>
  <ng-template [ngIf]="!edit">New</ng-template>
  <ng-template [ngIf]="edit">Edit</ng-template> Actor
</h1>
<form [formGroup]="form" *ngIf="!edit;else edit_form">
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around">
    <mat-form-field class="w-100">
      <input matInput placeholder="Name" type="text" [formControl]="form.controls['name']" required>
    </mat-form-field>
    <div class="w-100">
      Icon
      <a mat-stroked-button (click)="file.click()" class="w-100 dragNdrop">
        Drag your icon here or click in this area
        <input mat-stroked-button #file type="file" (change)="onFilesAdded()"
          [disabled]="uploading || uploadSuccessful" accept="image/*">/>
      </a>
      <div fxLayout="row wrap" fxLayoutGap="2px">
        <img [src]="urlImage" alt="" width="50px" *ngIf="urlImage">
      </div>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let file of files">
        <h4 mat-line>{{file.name}}</h4>
        <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async"></mat-progress-bar>
      </mat-list-item>
    </mat-list>
  </div>
  <div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-around">
    <button *ngIf="showCancelButton" mat-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!canBeClosed" (click)="closeDialog()">{{primaryButtonText}}</button>
  </div>
</form>
<ng-template #edit_form>
  <form [formGroup]="form">
    <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around">
      <mat-form-field class="w-100">
        <input matInput placeholder="Name" type="text" [formControl]="form.controls['name']" required>
      </mat-form-field>
    </div>
    <div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-around">
      <button *ngIf="showCancelButton" mat-button mat-dialog-close>Close</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!canBeClosed" (click)="closeDialog()">{{primaryButtonText}}</button>
    </div>
  </form>
</ng-template>